<h1>Submitted Info</h1>

<p>Name: @ViewBag.newUser.UserName</p>
<p>Dojo Location: @ViewBag.newUser.UserDojo</p>
<p>Favorite Language: @ViewBag.newUser.FavLanguage</p>
<p>Comment: @ViewBag.newUser.Comment</p>